html {
    width: auto;
    font-size: 2vw;
    margin: 0;
    padding: 0;
}

.mobile-hide {
    display: inline-block;
}

.mobile-show {
    display: none;
}


body {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-family: serif;
    background-color: #ffdead;
}

#introduction {
    background-color: red;
    display: flex;
    color: yellow;
    flex-direction: row;
    flex-wrap: wrap;
    height: 95vh;
    width: 100vw;
    margin-bottom: 5vh;
    align-items: center;
}

#introduction > div {
    flex: 1 0 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#introduction > figure {
    flex: 1 0;
    margin: 0;
}

#introduction > div > nav {
    padding: 1vw;
}

#introduction > div > nav > a {
    color: yellow;
    padding: 0.5vw;
}

#points {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
}

.menu {
    display: flex;
    padding-left: 5vw;
    padding-right: 5vw;
    position: fixed;
    text-align: center;
    overflow: hidden;
    top: 0px;
    left: 0px;
    width: 100vw;
    margin-left: -5vw;
    background-color: #222;
    z-index: 2;
}

.menu a {
    float: left;
    color: red;
    padding: 0.5vw;
    text-align: center;
    text-decoration: none;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    font-size: 3em;
    margin: 0;
}

h2 {
    font-size: 2em;
}

h3 {
    font-family: sans-serif;
    text-align: center;
    font-size: 1.5em;
    margin: 0;
}

h4 {
    font-family: sans-serif;
    font-size: 1.2em;
    font-weight: normal;
}

p {
    font-family: sans-serif;
}

img {
    text-align: center;
    width: 40vw;
    display: block;
    margin: auto;
}

.hammerandsickle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20vw;
}

.dems {
    width: 30%;
    float: right;
    padding-left: 2vw;
}

figcaption {
    display: block;
    font-family: sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

ul {
    font-family: sans-serif;
    text-align: left;
    list-style-type: square;
}

ol {
    font-family: sans-serif;
}

li {
    padding-bottom: 2vw;
}

form {
    font-family: sans-serif;
    width: 85%;
}

input {
    width: 100%;
    font-size: 1em;
    margin-bottom: 0.5em;
}

input:focus {
    background-color: lightblue;
}

input[type=button], input[type=submit] {
    font-size: 1.2em;
    border: 2px solid black;
    cursor: pointer;
}

footer > .twitter {
    margin-right: 0.2em;
}

footer > .email {
    margin-left: 0.2em;
}

footer > .map {
    padding: 1em 0 1em 0;
}

a:link {
    background-color: transparent;
    text-decoration: none
}

a:visited {
    background-color: transparent;
    text-decoration: none
}

a:hover {
    background-color: rgba(0,0,0,0.1);
    text-decoration: underline
}

a:active {
    color: blue;
    background-color: transparent;
    text-decoration: underline
}

@media only screen
and (max-device-width: 500px) {
    html {
        width: auto;
        font-size: 4vw;
    }

    .menu a {
        padding: 2vw;
        font-size: 8vw;
    }

    .mobile-hide {
        display: none;
    }

    .mobile-show {
        display: block;
        margin-left: auto;
    }

    img {
        width: unset;
    }
}
