html {
    width: auto;
    font-size: 2vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mobile-hide {
    display: inline-block;
}

.mobile-show {
    display: none;
}


body {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}

section {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 5vh;
    padding: 0 10vw;
}

#introduction {
    background-color: red;
    display: flex;
    color: yellow;
    flex-direction: row;
    flex-wrap: wrap;
    height: 45vh;
    align-items: center;
    margin-bottom: 0;
}

#introduction > div {
    flex: 1 0 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#introduction > div > nav {
    padding: 1vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center
}

#introduction > div > nav > a {
    color: yellow;
    padding: 0.5vw 2vw;
    text-transform: uppercase;
}

#points {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#about > div > .map {
    flex: 1 0 50%;
    margin-right: 5vw;
}

.menu {
    display: flex;
    padding-left: 5vw;
    padding-right: 5vw;
    position: fixed;
    text-align: center;
    overflow: hidden;
    top: 0px;
    left: 0px;
    width: 100vw;
    margin-left: -5vw;
    background-color: #222;
    z-index: 2;
}

.menu span {
    padding: 0.5vw 1vw;
    color: white;
}

.menu a {
    float: left;
    padding: 0.5vw 1vw;
    text-align: center;
    text-decoration: none;
    color: white;
}

.menu a#brand {
    color: red;
    margin-right: 1vw;
}

.menu a.active {
    color: red;
}

h1 {
    text-align: center;
    font-size: 3em;
    margin: 0;
}

h2 {
    font-size: 2em;
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 1.5em;
    margin: 0;
}

h4 {
    font-size: 1.2em;
    font-weight: normal;
}

p {
}

img {
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
    min-width: 200px;
}

.hammerandsickle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20vw;
}

.dems {
    width: 30%;
    float: right;
    padding-left: 2vw;
}

.captioned {
    position: relative;
}

.captioned > span {
    position: absolute;
    display: block;
    right: 0.5vw;
    bottom: 0.5vw;
    color: white;
}

.map.captioned > span {
    color: black;
}

figure {
    flex: 1 0 33%;
    margin: 0;
}

.art {
    display: flex;
    flex-direction: row;
    padding: 0;
}

.captioned > span.active {
    display: none;
}

.captioned > figcaption {
    display: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.captioned > figcaption.active {
    display: block;
    position: absolute;
    padding: 0.5vw;
    background: rgba(22,22,22,0.3);
    bottom: 0;
    width: 100%;
    color: white;
    font-size: 0.75em;
}

ul {
    text-align: left;
    list-style-type: square;
}

ol {
}

li {
    padding-bottom: 2vw;
}

form {
    width: 85%;
}

input {
    width: 100%;
    font-size: 1em;
    margin-bottom: 0.5em;
    box-sizing: border-box;
}

input:focus {
    background-color: lightblue;
}

input[type=button], input[type=submit] {
    font-size: 1.2em;
    border: 2px solid black;
    cursor: pointer;
}

footer {
    background-color: black;
    color: white;
    width: 100%;
    padding: 2vh 0;
    text-align: center;
}

footer > .twitter {
    margin-right: 0.2em;
    color: white;
}

footer > .facebook {
    margin-left: 0.2em;
    margin-right: 0.2em;
    color: white;
}

footer > .medium {
    margin-right: 0.2em;
    margin-left: 0.2em;
    color: white;
}

footer > .email {
    margin-left: 0.2em;
    color: white;
}

#join {
    display: flex;
    align-items: center;
    flex-direction: column;
}

a:link {
    background-color: transparent;
    text-decoration: none
}

a:visited {
    background-color: transparent;
    text-decoration: none
}

a:hover {
    background-color: rgba(0,0,0,0.1);
    text-decoration: underline
}

a:active {
    background-color: transparent;
}

@media only screen
and (max-device-width: 500px) {
    html {
        width: auto;
        font-size: 4vw;
    }

    .art {
        flex-direction: column;
    }

    .menu a {
        padding: 2vw;
        font-size: 8vw;
    }

    #about > div {
        flex-direction: column-reverse;
    }

    .mobile-hide {
        display: none !important;
    }

    .mobile-show {
        display: block;
        margin-left: auto;
    }
}
